{{define "ROOT"}}
<html>
    <head>
        <script type="text/javascript">
        var ws;

        document.addEventListener("DOMContentLoaded", function(event) {
            console.log(event);
            docReady(event);
        });

        function docReady(ev) {
            var btnRefresh = document.getElementById('btnRefresh');
            btnRefresh.onclick = function() {
                document.getElementById('divFooter').innerHTML += "No...<br/>";
            }

            var btnSend = document.getElementById('btnSend');
            btnSend.onclick = function() {
                if (ws) {
                    var textSend = document.getElementById('textSend');
                    var text = textSend.value;
                    ws.send(text);
                    document.getElementById('divFooter').innerHTML += "[ws send] " + text + "<br/>";
                }
            }

            ws = new WebSocket("ws://127.0.0.1:5000/ws");
            ws.onmessage = function(event) {
                document.getElementById('divFooter').innerHTML += "[ws recv] " + event.data + "<br/>";
            }
        }
        </script>
    </head>
    <body>
        <div id="divMain">
            Hello from {{.greeting}} <button id="btnRefresh">Refresh?</button><br/>
            <ul>
            {{ range .last10 }}<li>{{.}}</li>{{end}}
            </ul>
        </div>
        <div>
            <input id="textSend" type="text" size="30" />
            <button id="btnSend">Send</button>
        </div>
        <div id="divFooter">
        </div>
    </body>
</html>
{{end}}
